html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;

    grid-template-areas:
        "header header header"
        "side content aside"
        "side footer footer";

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userIcon {
    border-radius: 50%;
    width: 50px;
}

/* #notifications {
    display:flex;
    align-items: center;
  } */

#userProfile {
    display: flex;
    align-items: center;
}




#sidebar {
    grid-area: side;
    background-color: aqua;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}





#main-content {
    grid-area: content;
    background-color: bisque;
}

#cards {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    background-color:antiquewhite;
    border-radius: 20px;
}




#aside {
    grid-area:aside;
    background-color: beige;
}

#calendar {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
    margin:0;
    padding:0;
}



footer {
    grid-area: footer;
    background-color: cadetblue;
    text-align: center;
}
