* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0.5rem;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "side content aside"
        "side footer footer";
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userIcon {
    border-radius: 50%;
    width: 50px;
}

#notifications {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#notifBell {
    width: 20px;
}

#userProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#sidebar {
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-content,
#aside {
    border: 2px solid #c0c0c06d;
    box-sizing: border-box;
    background: linear-gradient(
        to bottom,
        #304352,
        #c0c0c0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment:scroll;
}

#sidebar,
header,
footer {
    background-color: #1f2c36;
    color: #c0c0c0;
    border: 2px solid #c0c0c06d;
    box-sizing: border-box;
}

#main-content {
    grid-area: content;
    /* background-color: bisque; */
    overflow-y: scroll;
    padding: 1rem;
    color: #1f2c36;
}
::-webkit-scrollbar {
    width: 0.5rem;
    color: red;
    background: rgba(128, 128, 128, 0.142);
}

::-webkit-scrollbar-thumb {
    background-color: #1f2c3665;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c0c0c0;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    /* background-color: antiquewhite; */
    border-radius: 20px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

#aside {
    grid-area: aside;
    background-color: beige;
    color: #c0c0c0;
}

#calendar {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

.calendarDay {
    padding: 1rem;
    background: #efefef;
    border: none;
    border-radius: 0.5rem;
    color: #444;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
        -6px -6px 10px rgba(255, 255, 255, 0.5),
        6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15); */
}

footer {
    grid-area: footer;
    text-align: center;
}

footer p a {
    color: #c0c0c0;
}

header,
#sidebar {
    padding: 0.5rem;
}

#aside,
footer {
    padding: 0.5rem;
}
