html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;

    grid-template-areas:
        "header header header"
        "side content aside"
        "side footer footer";

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userIcon {
    border-radius: 50%;
    width: 50px;
}

#notifications {
    display: flex;
    align-items: center;
}

#notifBell {
    width: 20px;
}

#userProfile {
    display: flex;
    align-items: center;
}

#sidebar {
    grid-area: side;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-content {
    grid-area: content;
    background-color: bisque;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    background-color: antiquewhite;
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

#aside {
    grid-area: aside;
    background-color: beige;
}

#calendar {
    list-style: none;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0rem 1rem;
}

.calendarDay {
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    grid-area: footer;
    background-color: cadetblue;
    text-align: center;
}
