@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

/* Page layout stuff */
* {
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html {
    font-size: clamp(12px, calc(0.625rem + ((1vw - 10.8px) * 0.9259)), 20px);
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "side content aside"
        "side footer footer";
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

/* Header stuff */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notifications {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#notifBell {
    width: 3rem;
}
#userProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#userIcon {
    border-radius: 50%;
    width: 3rem;
}

/* Sidebar stuff */

#sidebar {
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-links {
    list-style-type: none;
    padding: 0.5rem;
}
#sidebar-links > li {
    padding: 0.5rem 0;
}

#sidebar-links > li > button {
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    color: #c0c0c0;
    font-size: 1.2rem;
}

#sidebar-links > li > ul > li {
    cursor: pointer;
    text-align: center;
    padding: 1rem 0;
    background-color: #c0c0c023;
}

#sidebar-links > li > ul > li:hover {
    background-color: #c0c0c068;
}

#sidebar-links > li > ul > #newProjectButton {
    background-color: #bbffc223;
}

#sidebar-links > li > ul > #newProjectButton:hover {
    background-color: #bbffc246;
}

#sidebar-links ul {
    padding: 0;
    max-height: 40vh;
    overflow: scroll;
}

#sidebar-bottom {
    list-style: none;
    padding-left: 1rem;
}

/* Main content stuff */

#main-content {
    grid-area: content;
    /* background-color: bisque; */
    overflow-y: scroll;
    padding: 1rem;
    color: #1f2c36;
}
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0rem;
    background: rgba(128, 128, 128, 0.142);
}

::-webkit-scrollbar-thumb {
    background-color: #1f2c3665;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c0c0c0;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    /* background-color: antiquewhite; */
    border-radius: 20px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.card:hover,
.calendarDay:hover {
    background: rgba(255, 255, 255, 0.4);
    transition-duration: 500ms;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Right side stuff */

#aside {
    grid-area: aside;
    background-color: beige;
    color: #c0c0c0;
    padding: 0.5rem;
}


#calendar {
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

.calendarDay {
    padding: 1rem;
    background: #efefef;
    border: none;
    border-radius: 0.5rem;
    color: #444;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
        -6px -6px 10px rgba(255, 255, 255, 0.5),
        6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15); */
}

/* Footer stuff */

footer {
    grid-area: footer;
    text-align: center;
}

footer p a {
    color: #c0c0c0;
}

#sidebar,
header,
footer {
    background-color: #1f2c36;
    color: #c0c0c0;
    border: 2px solid #c0c0c06d;
    box-sizing: border-box;
    padding: 0.5rem;
}

#main-content,
#aside {
    border: px solid #c0c0c06d;
    box-sizing: border-box;
    background: linear-gradient(
        to bottom,
        #304352,
        #c0c0c0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: scroll;
}

#main-content button {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin: 0.4rem;
    color: #444;
    font-size: 1rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: -2px -2px 14px rgba(255, 255, 255, 0.3),
        -2px -2px 10px rgba(255, 255, 255, 0.1),
        2px 2px 8px rgba(255, 255, 255, 0.075), 2px 2px 10px rgba(0, 0, 0, 0.15);
}
#main-content button:hover {
    box-shadow: -1px -1px 6px rgba(255, 255, 255, 0.4),
        -1px -1px 4px rgba(255, 255, 255, 0.2),
        2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
#main-content button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.5),
        inset -2px -2px 4px rgba(255, 255, 255, 0.3),
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
